/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: #205362;
}
section.showcase{
    color: #fff;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    min-width: 780px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.825,0,.5,1);
    -moz-transition: -moz-transform .7s cubic-bezier(.825,0,.5,1);
    transition: transform .7s cubic-bezier(.825,0,.5,1);
}
section.showcase.inactive{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

section.landing{
    background: url(../img/landing-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.landing .form_container{
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: 50%;
    width: 800px;
    margin-top: -281px;
    opacity: 0;
    -webkit-transform: translateY(450px);
    -moz-transform: translateY(450px);
    -ms-transform: translateY(450px);
    -o-transform: translateY(450px);
    transform: translateY(450px);
}
section.landing.active .form_container{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.165,.84,.44,1),opacity .4s cubic-bezier(.165,.84,.44,1);
    -moz-transition: -moz-transform .4s cubic-bezier(.165,.84,.44,1),opacity .4s cubic-bezier(.165,.84,.44,1);
    transition: transform .4s cubic-bezier(.165,.84,.44,1),opacity .4s cubic-bezier(.165,.84,.44,1);
}
section.landing .form_container h2.signin{
    margin: 50px 0 0 0;
    font-size: 24px;
    color: #fff
}
section.landing .form_container h3.subheading{
    font-size: 14px;
    color: #fff;
    margin: 0;
}
section.landing .form_container .signinForm{
    width: 380px;
    margin: 40px auto 30px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
section.landing .form_container .signinForm:after{
    clear: both;
    content: "";
    display: table;
}
.signinForm input[name="email"]{
    width: 220px;
    padding: 20px;
    border: 0;
    float: left;
    color: #aaadae;
    font-weight: bold;
    line-height: 1;
    outline: 0;
    font-size: 18px;
    height: 18px;
}
.signinForm input[type="submit"]{
    padding: 20px;
    background: #29b280;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    margin-left: 20px;
    border: 0;
    float: left;
    outline: 0;
    line-height: 1;
    height: 58px;
}
.signinForm input[type="submit"]:hover{
    background: #23CB8E;
}
.createaccount{
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    background: #0e81bc;
    width: 380px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}
.createaccount:hover{
    background: #1598DB;
}
section.landing .footer{
    position: absolute;
    z-index: 2;
    bottom: 0;
    background: rgba(255,255,255,0.1);
    width: 100%;
    padding: 15px 0;
    border-top: 5px solid rgba(255,255,255,0.2);
}
section.landing .footer nav{
    position: absolute;
    left: 30px;
}
section.landing .footer nav ul{
    margin: 0;
    padding: 0;
}
section.landing .footer nav ul li{
    list-style: none;
    float: left;
}
section.landing .footer nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-right: 15px;
}
section.about{
    background: url(../img/about-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.showcase .top{
    position: absolute;
    top: 0;
    padding: 15px 0;
    width: 100%;
    z-index: 99;
    text-align: left;
}
.showcase.register .top{
    text-align: center;
}
.showcase .top .logo{
    margin-left: 40px;
}
.showcase .top-container:after{
    clear: both;
    content: "";
    display: table;
}
.showcase .top-container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    margin-top: -37px;
}
.showcase .top .reg_button{
    float: right;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    outline: 0;
    line-height: 1;
}
.showcase .top .reg_button:hover{
    opacity: .8;
}
.showcase .top .signin_button{
    float: right;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    outline: 0;
    line-height: 1;
}
.showcase .top .signin_button:hover{
    opacity: .8;
}
.section-wrapper{
    display: table;
    height: 100%;
    width: 100%;
}
.section-content{
    display: table-cell;
    vertical-align: middle;
}
.section-content h1{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 30px 0;
}
.section-content p{
    font-size: 30px;
    color: #fff;
    margin: 20px 0;
}
section.about .showcase-content{
    width: 530px;
    left: 50%;
    position: relative;
    text-align: left;
    padding-left: 50px;
    border-left: 1px solid rgba(255,255,255,.3);
}
section.about .getstarted{
    color: #28bb82;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 35px;
    line-height: 1;
    text-decoration: none;
    background: #fff;
}
section.about .section-graphic{
    position: absolute;
    right: 50%;
    top: 0;
    margin-right: 50px;
    opacity: 0;
    -webkit-transform: translateY(-770px);
    -moz-transform: translateY(-770px);
    -ms-transform: translateY(-770px);
    -o-transform: translateY(-770px);
    transform: translateY(-770px);
}
section.about.active .section-graphic{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    -moz-transition: -moz-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    transition: transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
}
.showcase.about .top .signin_button{
    color: #fff;
    background: #7ad2b0;
}
.showcase.about .top .reg_button{
    color: #7ad2b0;
    background: #fff;
}
section.persona{
    background: url(../img/persona-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.persona .section-content{
    display: block;
}
section.persona .showcase-content{
    width: 980px;
    margin: 100px auto 0 auto;
}
section.persona .getstarted{
    color: #dc6cea;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 35px;
    line-height: 1;
    text-decoration: none;
    background: #fff;
}
section.persona .section-graphic{
    position: relative;
    margin-top: 40px;
}
section.persona .section-graphic img{
    position: absolute;
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
section.persona.active .section-graphic img{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
    -moz-transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
section.persona .section-graphic img.img1{
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    transition-delay: 0;
    top: 0;
    left: 50%;
    margin-left: -122.5px;
}
section.persona .section-graphic img.img2{
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
    top: 175px;
    left: 50%;
    margin-left: -225px;
}
section.persona .section-graphic img.img3{
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    transition-delay: .4s;
    top: 175px;
    left: 50%;
    margin-left: -20px;
}
.showcase.persona .top .signin_button{
    color: #fff;
    background: #dc6be9;
}
.showcase.persona .top .reg_button{
    color: #84338e;
    background: #fff;
}
section.insights{
    background: url(../img/insights-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.insights .section-content{
    display: block;
    margin-top: 100px;
}
section.insights .section-content .showcase-content{
    width: 920px;
    margin: 0 auto;
}
section.insights .section-content .showcase-content hr{
    width: 300px;
    margin: 1em auto;
    border-top: 1px solid rgba(255,255,255,0.3);
}
section.insights .getstarted{
    color: #2a7ad2;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 35px;
    line-height: 1;
    text-decoration: none;
    background: #fff;
}
section.insights .section-graphic{
    opacity: 0;
    -webkit-transform: translateY(583px);
    -moz-transform: translateY(583px);
    -ms-transform: translateY(583px);
    -o-transform: translateY(583px);
    transform: translateY(583px);
}
section.insights.active .section-graphic{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    -moz-transition: -moz-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    transition: transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
}
.showcase.insights .top .signin_button{
    color: #fff;
    background: #669fdc;
}
.showcase.insights .top .reg_button{
    color: #3474bb;
    background: #fff;
}

section.sandbox{
    background: url(../img/sandbox-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.sandbox .showcase-content{
    width: 420px;
    right: 20%;
    position: relative;
    margin: 0 auto;
}
section.sandbox .showcase-content h1, section.sandbox .showcase-content p{
    color: #515151 ;
}
section.sandbox .divider{
    width: 1px;
    height: 300px;
    position: absolute;
    left: 49%;
    top: 50%;
    margin-top: -150px;
    background: #b2b3b4;
}
section.sandbox .getstarted{
    color: #5e5e5e;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 35px;
    line-height: 1;
    text-decoration: none;
    background: #fff;
}
section.sandbox .section-graphic{
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: 50px;
    opacity: 0;
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
}
section.sandbox.active .section-graphic{
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    -moz-transition: -moz-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    transition: transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
}
.showcase.sandbox .top .signin_button{
    color: #515050;
    background: rgba(255,255,255,0.8);
}
.showcase.sandbox .top .reg_button{
    color: #fff;
    background: rgba(0,0,0,0.6);
}

section.devices{
    background: url(../img/devices-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.devices .section-content{
    display: block;
    margin-top: 130px;
}
section.devices .section-content .showcase-content{
    width: 760px;
    margin: 0 auto;
}
section.devices .getstarted{
    color: #6e6f70;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 35px;
    line-height: 1;
    text-decoration: none;
    background: #fff;
}
.getstarted:hover{
    opacity: .8;
}
section.devices .section-graphic{
    margin: 85px auto 0 auto;
    width: 800px;
    position: relative;
}
section.devices .section-graphic img.mac{
    opacity: 0;
    -webkit-transform: translateY(487px);
    -moz-transform: translateY(487px);
    -ms-transform: translateY(487px);
    -o-transform: translateY(487px);
    transform: translateY(487px);
    position: absolute;
    left: 0;
    top: 0;
}
section.devices.active .section-graphic img.mac{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    -moz-transition: -moz-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    transition: transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
}
section.devices .section-graphic img.tablet{
    opacity: 0;
    -webkit-transform: translateY(376px);
    -moz-transform: translateY(376px);
    -ms-transform: translateY(376px);
    -o-transform: translateY(376px);
    transform: translateY(376px);
    position: absolute;
    right: 50px;
    top: 145px;
    z-index: 2;
}
section.devices.active .section-graphic img.tablet{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    -moz-transition: -moz-transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    transition: transform .7s cubic-bezier(.165,.84,.44,1),opacity .7s cubic-bezier(.165,.84,.44,1);
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}
section.devices .section-graphic img.phone{
    position: absolute;
    right: -50px;
    top: 230px;
    z-index: 3;
    opacity: 0;
    -webkit-transform: translateY(276px);
    -moz-transform: translateY(276px);
    -ms-transform: translateY(276px);
    -o-transform: translateY(276px);
    transform: translateY(276px);
}
section.devices.active .section-graphic img.phone{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.165,.84,.44,1),opacity .2s cubic-bezier(.165,.84,.44,1);
    -moz-transition: -moz-transform .7s cubic-bezier(.165,.84,.44,1),opacity .2s cubic-bezier(.165,.84,.44,1);
    transition: transform .7s cubic-bezier(.165,.84,.44,1),opacity .2s cubic-bezier(.165,.84,.44,1);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    transition-delay: .4s;
}
.showcase.devices .top .signin_button{
    color: #ffffff;
    background: #6e6f6f;
}
.showcase.devices .top .reg_button{
    color: #262628;
    background: #d8e0dd;
}
section.devices .footer{
    position: absolute;
    z-index: -1;
    bottom: 0;
    background: rgba(255,255,255,0.1);
    width: 100%;
    padding: 15px 0;
    border-top: 5px solid rgba(255,255,255,0.2);
}
section.devices .footer nav{
    margin-left: 30px;
}
section.devices .footer nav ul{
    margin: 0;
    padding: 0;
}
section.devices .footer nav ul li{
    list-style: none;
    float: left;
}
section.devices .footer nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-right: 15px;
}
.pagination{
    left: 40px;
    position: absolute;
    top: 50%;
    z-index: 2147483643;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pagination .dot {
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    cursor: pointer;
    height: 16px;
    margin-bottom: 10px;
    opacity: .4;
    position: relative;
    width: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pagination .dot.active {
    background: #fff;
    box-shadow: none;
    opacity: 1;
}

section.register{
    background: url(../img/register-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section.register .form_container{
    left: 50%;
    margin-left: -190px;
    position: absolute;
    top: 50%;
    width: 380px;
    margin-top: -150px;
    opacity: 0;
    -webkit-transform: translateY(250px);
    -moz-transform: translateY(250px);
    -ms-transform: translateY(250px);
    -o-transform: translateY(250px);
    transform: translateY(250px);
}
section.register.active .form_container{
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.165,.84,.44,1),opacity .4s cubic-bezier(.165,.84,.44,1);
    -moz-transition: -moz-transform .4s cubic-bezier(.165,.84,.44,1),opacity .4s cubic-bezier(.165,.84,.44,1);
    transition: transform .4s cubic-bezier(.165,.84,.44,1),opacity .4s cubic-bezier(.165,.84,.44,1);
}
section.register .form_container h2{
    font-size: 24px;
    margin: 0;
}
section.register .form_container p{
    font-size: 14px;
    margin: 0 0 30px 0;
}
.regForm input[type="text"]{
    width: 260px;
    padding: 20px;
    border: 0;
    color: #aaadae;
    font-weight: bold;
    line-height: 1;
    outline: 0;
    font-size: 18px;
    height: 18px;
    margin-bottom: 25px;
}
.regForm input[type="submit"]{
    padding: 20px;
    background: #29b280;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    border: 0;
    outline: 0;
    line-height: 1;
    height: 58px;
}
section.register .form_container hr{
    margin: 30px 0;
    border-top: 1px solid rgba(255,255,255,0.3);
}
section.register .form_container .back{
    padding: 20px;
    background: #0281c2;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 260px;
    border: 0;
    outline: 0;
    line-height: 1;
    display: block;
    text-decoration: none;
    margin: 0 auto;
}
section.register.complete .form_container{
    margin-top: 100px;
    top: 0;
}
section.register.complete .regForm input[type="text"]{
    padding-left: 60px;
    width: 220px;
    margin-bottom: 10px;
}
section.register.complete .regForm input.emailfield{
    background: #fff url('../img/envelope.png') 15px center no-repeat;
}
section.register.complete .regForm .checkbox{
    margin: 5px 0 30px 0;
}
section.register.complete .regForm .checkbox input{
    margin-right: 20px;
}
section.register .footer{
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}
section.register .footer nav{
    margin-left: 30px;
}
section.register .footer nav ul{
    margin: 0;
    padding: 0;
}
section.register .footer nav ul li{
    list-style: none;
    float: left;
}
section.register .footer nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-right: 15px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1280px) {
    .showcase .top .search{
        margin-right: 20px;
    }
    .logo{
        width: 100px;
    }
    section.landing .form_container h2.signin{
        margin: 30px 0 0 0;
    }
    section.landing .form_container .signinForm{
        margin: 30px auto 20px auto;
        padding-bottom: 20px;
    }
    section.landing .form_container{
        margin-top: -225px;
    }
    .section-content h1{
        font-size: 28px;
        margin: 0 0 20px 0;
    }
    .section-content p{
        font-size: 22px;
        margin: 15px 0;
    }
    section.about .showcase-content{
        width: 420px;
    }
    section.about .section-graphic{
        margin-right: 0;
    }
    section.about .section-graphic img{
        width: 80%;
    }
    section.persona .showcase-content{
        width: 720px;
    }
    section.persona .section-graphic img{
        width: 150px;
    }
    section.persona .section-graphic img.img1{
        margin-left: -75px;
    }
    section.persona .section-graphic img.img2{
        top: 110px;
        left: 50%;
        margin-left: -135px;
    }
    section.persona .section-graphic img.img3{
        top: 110px;
        left: 50%;
        margin-left: -10px;
    }
    section.insights .section-content{
        margin-top: 80px;
    }
    section.insights .section-content .showcase-content{
        width: 720px;
    }
    section.insights .section-graphic img{
        width: 70%;
    }
    section.sandbox .showcase-content{
        width: 300px;
    }
    section.sandbox .section-graphic{
        margin-left: 0;
    }
    section.sandbox .section-graphic img{
        width: 80%;
    }
    section.devices .section-content{
        margin-top: 80px;
    }
    section.devices .section-graphic{
        margin: 40px auto 0 auto;
    }
    section.devices .section-graphic img.phone{
        top: 170px;
    }
    section.devices.active .section-graphic img.tablet{
        top: 90px;
    }
    .pagination .dot{
        width: 14px;
        height: 14px;
        margin-bottom: 9px;
    }
}
@media (min-width: 780px) and (max-width: 1000px){
    section.about .showcase-content{
        width: 320px;
    }
    .section-content h1{
        font-size: 24px;
    }
    .section-content p{
        font-size: 20px;
    }
    section.about .section-graphic{
        right: 45%;
    }
    section.about .section-graphic img{
        width: 70%;
    }
    section.persona .showcase-content{
        width: 600px;
    }
    section.insights .section-content .showcase-content{
        width: 620px;
    }
    section.sandbox .showcase-content{
        width: 230px;
    }
    section.devices .section-content .showcase-content{
        width: 540px;
    }
    section.devices .section-graphic{
        width: 540px;
    }
    section.devices .section-graphic img.mac{
        width: 90%;
    }
    section.devices .section-graphic img.phone{
        width: 200px;
    }
    .pagination .dot{
        width: 12px;
        height: 12px;
        margin-bottom: 7px;
    }
}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/****   Mobile Phones Specific ******/
.mobile section.showcase{
    min-width: 0;
}
.mobile section.landing{
    background: url(../img/mobile/landing-bg-m.jpg) no-repeat center center fixed; 
}
.mobile section.landing .form_container{
    position: relative;
    margin: 0 auto;
    width: 70%;
}
.mobile section.landing .form_container .signinForm{
    width: 100%;
}
.mobile .signinForm input[name="email"]{
    float: none;
    width: 100%;
    margin-bottom: 12px;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mobile .signinForm input[type="submit"]{
    float: none;
    width: 100%;
}
.mobile .createaccount{
    width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}